/* Base Styles */

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif; 
}

body {
	background-color: #efefef;
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 12px 0px;
	background-color: teal;
	overflow: auto;
}

.sticky-header {
	position: relative;
	width: 100%;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	z-index: 999;
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.logo {
	margin-right: auto;
	min-width: 1em;
	max-height: 50px;
	padding-left: 1vw;
}

.menu {
	margin-right: 20px;
	max-height: 2em;
}

.main-nav {
	display: none;
}


h1 {
	color: #F90B6D; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 1.2em; 
	font-weight: 300; 
	line-height: 1em; 
	margin: 0 0 16px;
}

h2 { 
	color: #F90B6D; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 24px; 
	font-weight: 300; 
	line-height: 32px; 
	margin: 0 0 14px; }


p { 
	color: #222; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 15px; 
	font-weight: 400; 
	line-height: 24px; 
	margin: 0 0 14px; }

.main-page {
	background-color: pink;
	background-image: url(../img/ribbon-bg-2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 50vh;
	padding-right: 10%;
}

.mission {
	width: 200px;
	background-color: #efefef;
	opacity: 0.8;
	width: 45%;
}

.mission h1 {
	padding: 1em;
}


/* Main Page */
#ribbon-bg {
	width: 100%;
	max-height: 89vh;
}

/* Media Queries */

@media only screen and (min-width: 550px) {
	* {
		box-sizing: border-box;
		font-family: 'Open Sans', sans-serif; 
	}

	body {
		background-color: #efefef;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.sticky-header {
		padding: 0.5em;
		width: 100%;
		overflow: hidden;
		right: 0;
		left: 0;
		z-index: 999;
		background-color: #efefef;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.logo {
		margin-right: auto;
		min-width: 1em;
		max-height: 50px;
		padding-left: 1vw;
	}

	.menu {
		display: none;
	}

	.main-nav {
		display: flex;
		justify-content: flex-end;
	}
	
	.main-nav ul {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: stretch;
		padding-top: 20px;
	}
	
	.main-nav li {
		padding: 0.5vw;
	}
	
	.main-nav a {
		display: inline-block;
		font-size: x-large;
		padding: 0 0.5em;
		color: #565453;
		text-decoration: none;
	}
	
	.main-nav a:hover {
		color: #F90B6D;
		text-decoration: none;
	}

	.main-nav-dropdown {
		display: none;
	}

	h1 {
		color: #F90B6D; 
		font-family: 'Open Sans', sans-serif; 
		font-size: 20px; 
		font-weight: 300; 
		line-height: 25px; 
		margin: 0 0 16px;
	}

	h2 { 
		color: #F90B6D; 
		font-family: 'Open Sans', sans-serif; 
		font-size: 24px; 
		font-weight: 300; 
		line-height: 32px; 
		margin: 0 0 14px; }


	p { 
		color: #222; 
		font-family: 'Open Sans', sans-serif; 
		font-size: 15px; 
		font-weight: 400; 
		line-height: 24px; 
		margin: 0 0 14px; }
}

@media only screen and (min-width: 833px) {

	.main-page {
		height: 90vh;
	}
}