/* Base Styles */

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif; 
}

body {
	background-color: #efefef;
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 12px 0px;
	background-color: teal;
	overflow: auto;
}

.banner {
	position: relative;
	width: 100%;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	z-index: 999;
	background-color: #efefef;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#logo {
	margin-right: auto;
	min-width: 1em;
	max-height: 50px;
	padding-left: 1vw;
}

.menu {
	margin-right: 20px;
	max-height: 2em;
}

.main-nav {
	display: none;
}


h1 {
	color: #F90B6D; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 1.2em; 
	font-weight: 300; 
	line-height: 1em; 
	margin: 0 0 16px;
}

h2 { 
	color: #F90B6D; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 24px; 
	font-weight: 300; 
	line-height: 32px; 
	margin: 0 0 14px; }


p { 
	color: #222; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 15px; 
	font-weight: 400; 
	line-height: 24px; 
	margin: 0 0 14px; }

.main-page {
	background-color: pink;
	background-image: url(../img/race-edit.png);
	background-position: 50% 30%;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50vh;
	padding-right: 10%;
}

.title {
	/* margin-right: 25%; */
	margin-left: 12%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 25px;
	border: solid 1px #efefef;
	padding: 20px 20px 10px 20px;
	width: 300px;
	background-color: rgba(86, 84, 83, 0.7);
}


.title h1 {
	font-family: 'Arvo', serif;
	color: #efefef;
	font-size: 2.7em;  
	line-height: 30px; 
}

.mission {
	font-family: 'Open Sans', sans-serif;
	color: #efefef;
	font-size: 0.8em;
	line-height: 1em;
	/* width: 90%; */
	width: 240px;
	text-align: justify;
}


/* Main Page */
#ribbon-bg {
	width: 100%;
	max-height: 89vh;
}

/* Media Queries */

@media only screen and (min-width: 550px) {
	* {
		box-sizing: border-box;
		font-family: 'Open Sans', sans-serif; 
	}

	body {
		background-color: #efefef;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.banner {
		padding: 0.5em;
		width: 100%;
		overflow: hidden;
		right: 0;
		left: 0;
		z-index: 999;
		background-color: #efefef;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	#logo {
		display: none;
	}

	.menu {
		display: none;
	}

	.main-nav {
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}
	
	.main-nav ul {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: stretch;
		padding-top: 20px;
	}
	
	.main-nav a {
		display: inline-block;
		font-size: 1.2em;
		padding: 0 0.5em;
		color: #565453;
		text-decoration: none;
		text-transform: uppercase;
		font-family: "Abel";
	}
	
	.main-nav a:hover {
		color: #F90B6D;
		text-decoration: none;
	}

	.main-nav-dropdown {
		display: none;
	}

	#nav-logo {
		min-width: 1em;
		max-height: 40px;
	}

	/* h1 {
		color: #F90B6D; 
		font-family: 'Open Sans', sans-serif; 
		font-size: 20px; 
		font-weight: 300; 
		line-height: 25px; 
		margin: 0 0 16px;
	}

	h2 { 
		color: #F90B6D; 
		font-family: 'Open Sans', sans-serif; 
		font-size: 24px; 
		font-weight: 300; 
		line-height: 32px; 
		margin: 0 0 14px; } */


	p { 
		color: #222; 
		font-family: 'Open Sans', sans-serif; 
		font-size: 15px; 
		font-weight: 400; 
		line-height: 24px; 
		margin: 0 0 14px; }
}

@media only screen and (min-width: 833px) {

	.main-page {
		height: 60vh;
		width: 100%;
	}

	.title {
		/* margin-right: 25%; */
		margin-left: 12%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-radius: 25px;
		border: solid 1px #efefef;
		padding: 20px 20px 5px 20px;
		width: 350px;
		background-color: rgba(86, 84, 83, 0.7);
	}


	.title h1 {
		font-family: 'Arvo', serif;
		color: #efefef;
		font-size: 3.375em;  
		line-height: 35px; 
	}

	.mission {
		font-family: 'Open Sans', sans-serif;
		color: #efefef;
		font-size: 0.9em;
		line-height: 0.975em;
		width: 270px;
		text-align: left;
	}
}